@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes loading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

::selection {
    background: rgba(0, 0, 255, 0.5);
    color: white;
}

body {
    font-family: 'Public Sans', sans-serif;
    color: #222;
    background: whitesmoke;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

header {
    background: white;
    border-bottom: 1px solid whitesmoke;
    box-shadow: #333 0px 0px 10px;
    padding: 1rem;
    margin-bottom: 2rem;
}

article {
    padding: 1rem;
}

article.tracker-info {
    margin-bottom: 0.5rem;
}

div.tracker-info-paragraph {
    margin: 0.5rem;
    max-width: 65%;
}

div.tracker-info-paragraph>p {
    line-height: 175%;
}

h1, h2, h3, h4 {
    margin: 1rem;
}

p {
    text-indent: 1rem;
    line-height: 150%;
    text-align: justify;
    padding: 1rem;
}

button {
    border-radius: 1rem;
    box-shadow: #333 0px 0px 5px;
    padding: 1rem;
    background: white;
    border: none;
    margin: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

button:hover {
    box-shadow: blue 0px 0px 5px;
}

button:active {
    background: rgba(0, 0, 255, 0.75);
    color: white;
}

a, a:visited {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: white;
    background: rgba(0, 0, 255, 0.75);
}

/* This is not a duplicate, React Router uses this class*/

a.active {
    color: white;
    background: rgba(0, 0, 255, 0.75);
}

select.location-select {
    font-size: 1.75rem;
    width: 80vw;
    font-family: 'Public Sans', sans-serif;
    padding: 1rem;
    margin: 1rem;
    color: #222;
    appearance: none;
    border-radius: 1rem;
    border: none;
    box-shadow: #333 0px 0px 5px;
    cursor: pointer;
}

select.location-select:hover {
    box-shadow: blue 0px 0px 5px;
}

h3.location-heading {
    font-weight: lighter;
    height: 1.5rem;
}

img.article-image {
    border: double 0.3rem grey;
    float: right;
    margin: 1.5rem;
}

span.close-text {
    color: darkred;
    text-decoration: underline;
    cursor: pointer;
}

span.close-text:active {
    color: white;
    background: darkred;
    text-decoration: underline;
    cursor: pointer;
}

nav {
    margin-top: 1rem;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav>a {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
}

h1.logo {
    font-size: 3.25rem;
}

span#bird-red {
    color: #C41E3A;
    -webkit-text-stroke: 1.5px black;
}

h1.loading {
    font-size: 3em;
    margin: auto;
    text-align: center;
    animation: loading 0.4s alternate infinite;
}

span.species-text {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: grey;
    margin-right: 2rem;
    padding: 0.25rem;
}

span.species-text:hover {
    color: black;
    text-decoration: none;
}

span.species-text:active {
    color: white;
    background: rgba(0, 0, 255, 0.75);
}

input.species-check {
    transform: scale(1.75);
    margin: 0.25rem;
    align-self: flex-end;
    margin-left: auto;
}

span.wiki-text {
    font-size: 0.75rem;
    font-style: italic;
    float: right;
}

p.region-description {
    margin: 0.5rem;
    font-size: 1.25em;
}

div.how-to {
    margin: auto;
}

div.tracker-item-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 1rem;
}

div.tracker-item {
    display: flex;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: #333 0px 0px 5px;
    background: white;
    border-radius: 1rem;
    font-size: 1.5rem;
    white-space: pre-wrap;
    width: auto;
}

div.tracker-item-active {
    background: rgba(0, 0, 255, 0.75);
}

div.tracker-item-active>span {
    color: whitesmoke;
}

div.tracker-item-active>span:hover {
    color: white;
}

ul.seen-list {
    list-style-type: none;
    text-align: left;
    background: white;
    border-radius: 1rem;
    box-shadow: #333 0px 0px 5px;
    padding: 1rem;
    font-size: 1.25rem;
    width: auto;
    margin: 2rem 2rem;
    font-size: 2rem;
}

ul.seen-list>li {
    margin: 1.5rem;
    border-bottom: 3px lightgrey solid;
    padding: 0.5rem;
}

input[type="text"] {
    margin: 1rem;
    font-size: 1.25em;
    padding: 0.75rem;
    width: 50vw;
    box-shadow: #333 0px 0px 5px;
    border-radius: 1rem;
    border: none;
}

input[type="text"]:focus{
    box-shadow: blue 0px 0px 5px;
}

@media all and (min-width:0px) and (max-width: 650px) {
    div.tracker-item-container {
        grid-template-columns: 100%;
        width: 100%;
    }
    nav {
        flex-direction: column;
        font-size: 0.75em;
    }
    div.tracker-info-paragraph {
        max-width: 100%;
    }
    h1.logo {
        font-size: 2.5rem;
    }
    ul.seen-list {
        font-size: 1.5rem;
        padding: 1rem;
    }

}